streamlit==1.20.0
PyMuPDF
langchain==0.0.24
sentence-transformers==2.2.2
pymilvus-orm==0.0.1
langchain_community==0.0.1
beautifulsoup4==4.10.0
pysqlite3-binary==0.5.2.post3
protobuf==3.20.0 
grpcio==1.42.0 
grpcio-tools==1.42.0
